html, body {
   height: 100%;
}

body {
   background-color: #1e2429 !important;
   /*#D11250
   #DB5800
   #006899
   #008F68*/
}

.eventlist {
   width: 100%;
   height: 100%;
}

.media-list, .search {
   width: 75%;
   margin: 0 auto;
}

.search-header {
   color: white;
}


.media:first-child {
   margin-top: 15px !important;
}

.media, .search {
   border: solid 1px #4a5763;
   color: white;
   background-color: #343d46;
   padding: 15px;
}
.media-object {
   width: 200px;
}

#search-button, #clear-button {
   margin-top: 15px !important;
}

button, input, select {
   color: gray !important;
   background: #262626 !important;
   border: 0px !important;
}

#map {
    height: 100%;
}
