html, body {
    height: 100%;
}
body {
    background-color: #13171a !important;
}
.container-fluid {
    margin: 0 auto;
    width: 80%;
}
.search-header {
    color: white;
}
.media:first-child {
    margin-top: 15px !important;
}
.sidemap {
    margin-top: 62px !important;
}
.media, .search, .sidemap, .list-header, .comment-box {
    border: solid 1px #4a5763;
    color: white;
    background-color: #2c333b;
    padding: 15px;
}
hr {
    border-color: #4a5763 !important;
}
.list-header {
    margin-top: 15px !important;
    padding: 5px;
}
.sidemap-buttons {
    height: 15%;
    margin-top: 10px;
    padding: 5px;
}
#locate-button {
    float: right !important;
}
.media-object {
    width: 200px;
}
#search-button, #clear-button, .search, #favorites-button, .comment-box {
    margin-top: 15px !important;
}
.comment-box {
    width: 75%;
}
button, input, select, textarea {
    color: white !important;
    background: #262626 !important;
    border: 0px !important;
}
textarea {
    resize: none;
}
#sidebar {
    height: 400px;
}
@media (min-width: 979px) {
    #sidebar.affix-top {
        position: static;
        margin-top: 45px;
        width: 100%;
    }
    #sidebar.affix {
        position: fixed;
        top: 45px;
        width: 25%;
    }
}
.affix, .affix-top {
    position: static;
}
#map {
    height: 85%;
    width: 100%;
}
.comment-name {
    width: 25% !important;
    margin-bottom: 5px !important;
}
.comment-comment {
    width: 75% !important;
    height: 68px !important;
    margin-bottom: 5px !important;
}
